### Data Cleaning
In this Notebook we prepare our merged data for the database

In [1]:
import pandas as pd

In [2]:
df_merged = pd.read_csv("/Users/movonangern/Library/Mobile Documents/com~apple~CloudDocs/IT/Programming/Business Intelligence/business-intelligence-football-data/data/merged/fully_merged.csv")

/var/folders/d0/j6ysxkws2xb8xvpwvvt3nc1m0000gn/T/ipykernel_6716/3585082332.py:1: DtypeWarning: Columns (15,17,18,19,21,22,23,50) have mixed types. Specify dtype option on import or set low_memory=False.
  df_merged = pd.read_csv("/Users/movonangern/Library/Mobile Documents/com~apple~CloudDocs/IT/Programming/Business Intelligence/business-intelligence-football-data/notebooks/merging/merged.csv")

In [3]:
df_merged

,Unnamed: 0.1,appearance_id,game_id_x,player_id,player_club_id,player_current_club_id,date,player_name,competition_id,yellow_cards,...,GCA,Cmp,Att,Cmp%,PrgP,Carries,PrgC,Att.1,Succ,game_id_y
0,0,2231978_38004,2231978,38004,853,235,2012-07-03,Aurélien Joachim,CLQ,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,2233748_79232,2233748,79232,8841,2698,2012-07-05,Ruslan Abyshov,ELQ,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,2234413_42792,2234413,42792,6251,465,2012-07-05,Sander Puri,ELQ,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3,2234418_73333,2234418,73333,1274,6646,2012-07-05,Vegar Hedenstad,ELQ,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4,2234421_122011,2234421,122011,195,3008,2012-07-05,Markus Henriksen,ELQ,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1537367,1537367,4243725_623570,4243725,623570,244,244,2024-02-22,Iliman Ndiaye,EL,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1537368,1537368,4243725_807165,4243725,807165,244,244,2024-02-22,Bamo Meïté,EL,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1537369,1537369,4243725_858712,4243725,858712,660,660,2024-02-22,Pedrinho,EL,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1537370,1537370,4243725_89222,4243725,89222,660,660,2024-02-22,Yaroslav Rakitskyi,EL,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1537371,1537371,4243725_913495,4243725,913495,244,244,2024-02-22,Emran Soglo,EL,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Deleting the following columns: 
- "Unnamed: 0.1"
- “Unnamed: 0” 
- “league” 
- “season” 
- “game” 
- “team”
- “player”
- “jersey_number” 
- “nation” 
- “pos” 
- “age” 
- “min” 
- “game_id_y”

In [6]:
# Spalten, die entfernt werden sollen
columns_to_drop = [
    "Unnamed: 0.1", "Unnamed: 0", "league", "season", "game", "team", "player",
    "jersey_number", "nation", "pos", "age", "min", "game_id_y"
]

# Entfernen der angegebenen Spalten aus df_merged
df_merged_cleaned = df_merged.drop(columns=columns_to_drop, axis=1)

# Ausgabe des bereinigten DataFrames
df_merged_cleaned.columns

Index(['appearance_id', 'game_id_x', 'player_id', 'player_club_id',
       'player_current_club_id', 'date', 'player_name', 'competition_id',
       'yellow_cards', 'red_cards', 'goals', 'assists', 'minutes_played',
       'Gls', 'Ast', 'PK', 'PKatt', 'Sh', 'SoT', 'CrdY', 'CrdR', 'Touches',
       'Tkl', 'Int', 'Blocks', 'xG', 'npxG', 'xAG', 'SCA', 'GCA', 'Cmp', 'Att',
       'Cmp%', 'PrgP', 'Carries', 'PrgC', 'Att.1', 'Succ'],
      dtype='object')

Rename of the column "game_id_x" to "game_id"

In [7]:
df_merged_cleaned.rename(columns={'game_id_x': 'game_id'}, inplace=True)

In [9]:
df_merged_cleaned.head()

,appearance_id,game_id,player_id,player_club_id,player_current_club_id,date,player_name,competition_id,yellow_cards,red_cards,...,SCA,GCA,Cmp,Att,Cmp%,PrgP,Carries,PrgC,Att.1,Succ
0,2231978_38004,2231978,38004,853,235,2012-07-03,Aurélien Joachim,CLQ,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2233748_79232,2233748,79232,8841,2698,2012-07-05,Ruslan Abyshov,ELQ,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2234413_42792,2234413,42792,6251,465,2012-07-05,Sander Puri,ELQ,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2234418_73333,2234418,73333,1274,6646,2012-07-05,Vegar Hedenstad,ELQ,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2234421_122011,2234421,122011,195,3008,2012-07-05,Markus Henriksen,ELQ,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [11]:
df_merged_cleaned.to_csv("/Users/movonangern/Library/Mobile Documents/com~apple~CloudDocs/IT/Programming/Business Intelligence/business-intelligence-football-data/data/cleaned/appearances.csv", index=False)